@model DopaMarket.ViewModels.SearchViewModel

@{
    ViewBag.Title = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10"><h2>Results</h2></div>
</div>

<div class="row">
    <div class="col-md-2 search-option-column">
        sqdsqdsqdsq<br />
        sqdsqdsqd<br />
        sqdqsdsqdsqdsq<br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
    </div>

    <div class="col-md-10 search-result-column">
        @foreach (var item in Model.Items)
        {
            <div class="row search-row">
                <div class="col-md-2">
                    <img src="@(item.Image != null ? item.Image.Path : "")" style="object-fit: cover;width:200px;height:200px" />
                </div>
                <div class="col-md-6">
                    <div>@Html.ActionLink((string)item.Item.Name, item.Item.LinkName, "Item")</div>
                    <div>@item.Item.CurrentPrice</div>
                </div>
            </div>
        }
    </div>
</div>
