
@{
    ViewBag.Title = "Shipping";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>Checkout</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>Checkout</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row">
        <!-- Checkout Adress-->
        <div class="col-xl-9 col-lg-8">
            <div class="steps flex-sm-nowrap mb-5">
                <a class="step" href="/Checkout/Address">
                    <h4 class="step-title"><i class="icon-check-circle"></i>1. Address</h4>
                </a><a class="step active" href="/Checkout/Shipping">
                    <h4 class="step-title">2. Shipping</h4>
                </a><a class="step" href="#">
                    <h4 class="step-title">3. Payment</h4>
                </a><a class="step" href="#">
                    <h4 class="step-title">4. Review</h4>
                </a>
            </div>
            <h4>Choose Shipping Method</h4>
            <hr class="padding-bottom-1x">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead class="thead-default">
                        <tr>
                            <th></th>
                            <th>Shipping method</th>
                            <th>Delivery time</th>
                            <th>Handling fee</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="align-middle">
                                <div class="custom-control custom-radio mb-0">
                                    <input class="custom-control-input" type="radio" id="courier" name="shipping-method" checked>
                                    <label class="custom-control-label" for="courier"></label>
                                </div>
                            </td>
                            <td class="align-middle"><span class="text-gray-dark">Courier</span><br><span class="text-muted text-sm">All Addresses(default zone), United States & Canada</span></td>
                            <td class="align-middle">2 - 4 days</td>
                            <td class="align-middle">$26.50</td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                <div class="custom-control custom-radio mb-0">
                                    <input class="custom-control-input" type="radio" id="local" name="shipping-method">
                                    <label class="custom-control-label" for="local"></label>
                                </div>
                            </td>
                            <td class="align-middle"><span class="text-gray-dark">Local Shipping</span><br><span class="text-muted text-sm">All Addresses(default zone), United States & Canada</span></td>
                            <td class="align-middle">up to one week</td>
                            <td class="align-middle">$10.00</td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                <div class="custom-control custom-radio mb-0">
                                    <input class="custom-control-input" type="radio" id="flat" name="shipping-method">
                                    <label class="custom-control-label" for="flat"></label>
                                </div>
                            </td>
                            <td class="align-middle"><span class="text-gray-darkm">Flat Rate</span><br><span class="text-muted text-sm">All Addresses(default zone)</span></td>
                            <td class="align-middle">5 - 7 days</td>
                            <td class="align-middle">$33.85</td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                <div class="custom-control custom-radio mb-0">
                                    <input class="custom-control-input" type="radio" id="ups" name="shipping-method">
                                    <label class="custom-control-label" for="ups"></label>
                                </div>
                            </td>
                            <td class="align-middle"><span class="text-gray-dark">UPS Ground Shipping</span><br><span class="text-muted text-sm">All Addresses(default zone)</span></td>
                            <td class="align-middle">4 - 6 days</td>
                            <td class="align-middle">$18.00</td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                <div class="custom-control custom-radio mb-0">
                                    <input class="custom-control-input" type="radio" id="pickup" name="shipping-method">
                                    <label class="custom-control-label" for="pickup"></label>
                                </div>
                            </td>
                            <td class="align-middle"><span class="text-gray-dark">Local Pickup from store</span><br><span class="text-muted text-sm">All Addresses(default zone)</span></td>
                            <td class="align-middle">&mdash;</td>
                            <td class="align-middle">$0.00</td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                <div class="custom-control custom-radio mb-0">
                                    <input class="custom-control-input" type="radio" id="locker" name="shipping-method">
                                    <label class="custom-control-label" for="locker"></label>
                                </div>
                            </td>
                            <td class="align-middle"><span class="text-gray-dark">Pick Up at Unishop Locker</span><br><span class="text-muted text-sm">All Addresses(default zone), United States & Canada</span></td>
                            <td class="align-middle">&mdash;</td>
                            <td class="align-middle">$9.99</td>
                        </tr>
                        <tr>
                            <td class="align-middle">
                                <div class="custom-control custom-radio mb-0">
                                    <input class="custom-control-input" type="radio" id="global" name="shipping-method">
                                    <label class="custom-control-label" for="global"></label>
                                </div>
                            </td>
                            <td class="align-middle"><span class="text-gray-dark">Unishop Global Export</span><br><span class="text-muted text-sm">All Addresses(default zone), outside United States</span></td>
                            <td class="align-middle">3 - 4 days;</td>
                            <td class="align-middle">$25.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="d-flex justify-content-between paddin-top-1x mt-4"><a class="btn btn-outline-secondary" href="checkout-address.html"><i class="icon-arrow-left"></i><span class="hidden-xs-down">&nbsp;Back</span></a><a class="btn btn-primary" href="/Checkout/ShippingSave"><span class="hidden-xs-down">Continue&nbsp;</span><i class="icon-arrow-right"></i></a></div>
        </div>
        <!-- Sidebar          -->
        <div class="col-xl-3 col-lg-4">
            <aside class="sidebar">
                <div class="padding-top-2x hidden-lg-up"></div>
                <!-- Order Summary Widget-->
                <section class="widget widget-order-summary">
                    <h3 class="widget-title">Order Summary</h3>
                    <table class="table">
                        <tr>
                            <td>Cart Subtotal:</td>
                            <td class="text-gray-dark">$2,548.50</td>
                        </tr>
                        <tr>
                            <td>Shipping:</td>
                            <td class="text-gray-dark">$26.50</td>
                        </tr>
                        <tr>
                            <td>Estimated tax:</td>
                            <td class="text-gray-dark">$9.72</td>
                        </tr>
                        <tr>
                            <td></td>
                            <td class="text-lg text-gray-dark">$2,584.72</td>
                        </tr>
                    </table>
                </section>
            </aside>
        </div>
    </div>
</div>
