
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
@Html.ActionLink("New", "New", "AdminItems")

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.ActionLink((string)item.Name, "Edit", "AdminItems", new { id = item.Id }, null) - @Html.ActionLink("Delete", "Delete", "AdminItems", new { id = item.Id }, null)</td>
        </tr>
    }
</table>

