
@model DopaMarket.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DopaMarket</h1>
</div>

<div class="row">
    @foreach (var category in Model.Categories)
    {
    <a href="/search?c=@category.LinkName">@category.Name</a>
    }
</div>