@model DopaMarket.ViewModels.CustomerProfileViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Page Title-->
<div class="page-title">
    <div class="container">
        <div class="column">
            <h1>My Profile</h1>
        </div>
        <div class="column">
            <ul class="breadcrumbs">
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>
                    <a href="account-orders.html">Account</a>
                </li>
                <li class="separator">&nbsp;</li>
                <li>My Profile</li>
            </ul>
        </div>
    </div>
</div>
<!-- Page Content-->
<div class="container padding-bottom-3x mb-2">
    <div class="row">

        @{
            Html.RenderPartial("_UserInfoMenu");
        }

    </div>
</div>