<!-- Remove "navbar-sticky" class to make navigation bar scrollable with the page.-->
<header class="site-header navbar-sticky">
    <!-- Topbar-->
    @{
        Html.RenderPartial("_Topbar");
    }

    <!-- Navbar-->
    <div class="navbar">
        <div class="btn-group categories-btn">
            <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"><i class="icon-menu text-lg"></i>&nbsp;Categories</button>
            <div class="dropdown-menu mega-dropdown">
                <div class="row">
                    <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/01.jpg"><span class="text-gray-dark">Computers &amp; Accessories</span></a></div>
                    <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/02.jpg"><span class="text-gray-dark">Smartphones &amp; Tablets</span></a></div>
                    <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/03.jpg"><span class="text-gray-dark">TV, Video &amp; Audio</span></a></div>
                    <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/04.jpg"><span class="text-gray-dark">Cameras, Photo &amp; Video</span></a></div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/05.jpg"><span class="text-gray-dark">Headphones</span></a></div>
                    <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/06.jpg"><span class="text-gray-dark">Wearable Electronics</span></a></div>
                    <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/07.jpg"><span class="text-gray-dark">Printers &amp; Ink</span></a></div>
                    <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/08.jpg"><span class="text-gray-dark">Video Games</span></a></div>
                </div>
            </div>
        </div>
        <!-- Main Navigation-->
        <nav class="site-menu">
            <ul>
                <li class="has-submenu active">
                    <a href="/">Home</a>
                    @*
        <ul class="sub-menu">
            <li class="active has-children">
                <a href="index.html">Hero Slider</a>
                <ul class="sub-menu w-400 p-0 overflow-hidden">
                    <li><a class="p-0" href="index.html"><img src="img/banners/home01.jpg" alt="Hero Slider Home"></a></li>
                </ul>
            </li>
            <li class="has-children">
                <a href="home-featured-categories.html">Categories Grid</a>
                <ul class="sub-menu w-400 p-0 overflow-hidden">
                    <li><a class="p-0" href="home-featured-categories.html"><img src="img/banners/home02.jpg" alt="Categories Grid Home"></a></li>
                </ul>
            </li>
        </ul>
                    *@
                </li>
                <li class="has-submenu">
                    <a href="/">Magasin</a>
                </li>
                <li class="has-megamenu">
                    <a href="#">Promotions</a>
                </li>
                <li class="has-submenu">
                    <a href="account-orders.html">Fiches</a>
                </li>
                <li class="has-submenu">
                    <a href="blog-rs.html">Blog</a>
                </li>
                <li class="has-submenu">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li><a href="about.html">A Propos</a></li>
                        <li><a href="contacts.html">Contacts</a></li>
                        <li><a href="faq.html">Aides / FAQ</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- Toolbar ( Put toolbar here only if you enable sticky navbar )-->
        <div class="toolbar">
            <div class="toolbar-inner">
                <div class="toolbar-item">
                    <a href="/Customer/Profile">
                        <div><i class="icon-user"></i><span class="text-label">Account</span></div>
                    </a>
                </div>
                <div class="toolbar-item">
                    <a href="/Cart">
                        <div><span class="cart-icon"><i class="icon-shopping-cart"></i><span class="count-label"></span></span><span class="text-label">Cart</span></div>
                    </a>
                    <div class="toolbar-dropdown cart-dropdown widget-cart">
                        <!-- Entry-->
                        <div class="entry">
                            <div class="entry-thumb"><a href="shop-single.html"><img src="img/shop/widget/04.jpg" alt="Product"></a></div>
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="shop-single.html">Canon EOS M50 Mirrorless Camera</a></h4><span class="entry-meta">1 x $910.00</span>
                            </div>
                            <div class="entry-delete"><i class="icon-x"></i></div>
                        </div>
                        <!-- Entry-->
                        <div class="entry">
                            <div class="entry-thumb"><a href="shop-single.html"><img src="img/shop/widget/05.jpg" alt="Product"></a></div>
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="shop-single.html">Apple iPhone X 256 GB Space Gray</a></h4><span class="entry-meta">1 x $1,450.00</span>
                            </div>
                            <div class="entry-delete"><i class="icon-x"></i></div>
                        </div>
                        <!-- Entry-->
                        <div class="entry">
                            <div class="entry-thumb"><a href="shop-single.html"><img src="img/shop/widget/06.jpg" alt="Product"></a></div>
                            <div class="entry-content">
                                <h4 class="entry-title"><a href="shop-single.html">HP LaserJet Pro Laser Printer</a></h4><span class="entry-meta">1 x $188.50</span>
                            </div>
                            <div class="entry-delete"><i class="icon-x"></i></div>
                        </div>
                        <div class="text-right">
                            <p class="text-gray-dark py-2 mb-0"><span class='text-muted'>Subtotal:</span> &nbsp;$2,548.50</p>
                        </div>
                        <div class="d-flex">
                            <div class="pr-2 w-50"><a class="btn btn-secondary btn-sm btn-block mb-0" href="cart.html">Expand Cart</a></div>
                            <div class="pl-2 w-50"><a class="btn btn-primary btn-sm btn-block mb-0" href="checkout.html">Checkout</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
@*
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/">DopaMarket</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>
*@

