<div class="topbar d-flex justify-content-between">
    <!-- Logo-->
    <div class="site-branding d-flex"><a class="site-logo align-self-center" href="/"><img src="img/logo/logo.png" alt="Unishop"></a></div>
    <!-- Search / Categories-->
    <div class="search-box-wrap d-flex">
        <div class="search-box-inner align-self-center">
            <div class="search-box d-flex">
                <div class="btn-group categories-btn">
                    <button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown"><i class="icon-menu text-lg"></i>&nbsp;Categories</button>
                    <div class="dropdown-menu mega-dropdown">
                        <div class="row">
                            @foreach (var category in ViewBag.categories)
                            {
                                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/01.jpg"><span class="text-gray-dark">@category.Name</span></a></div>
                            }

                        </div>
                            @*
            <div class="row">
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/01.jpg"><span class="text-gray-dark">Computers &amp; Accessories</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/02.jpg"><span class="text-gray-dark">Smartphones &amp; Tablets</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/03.jpg"><span class="text-gray-dark">TV, Video &amp; Audio</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/04.jpg"><span class="text-gray-dark">Cameras, Photo &amp; Video</span></a></div>
            </div>
            <div class="row">
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/05.jpg"><span class="text-gray-dark">Headphones</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/06.jpg"><span class="text-gray-dark">Wearable Electronics</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/07.jpg"><span class="text-gray-dark">Printers &amp; Ink</span></a></div>
                <div class="col-sm-3"><a class="d-block navi-link text-center mb-30" href="shop-grid-ls.html"><img class="d-block" src="img/shop/header-categories/08.jpg"><span class="text-gray-dark">Video Games</span></a></div>
            </div>
                            *@
                        </div>
                    </div>
                <form class="input-group" method="get" action="/search">
                    <span class="input-group-btn">
                        <button type="submit"><i class="icon-search"></i></button>
                    </span>
                    <input class="form-control" type="search" name="q" placeholder="Search for anything">
                </form>
            </div>
        </div>
    </div>
    <!-- Toolbar-->
    <div class="toolbar d-flex">
        <div class="toolbar-item visible-on-mobile mobile-menu-toggle">
            <a href="#">
                <div><i class="icon-menu"></i><span class="text-label">Menu</span></div>
            </a>
        </div>
        @if (Request.IsAuthenticated)
        {
            <div class="toolbar-item hidden-on-mobile">
                <a href="/Customer">
                    <div><i class="icon-user"></i><span class="text-label">Account</span></div>
                </a>
            </div>
            <div class="toolbar-item">
                <a href="cart.html">
                    <div><span class="cart-icon"><i class="icon-shopping-cart"></i><span class="count-label" id="topbar-cart-count-label">3   </span></span><span class="text-label">Cart</span></div>
                </a>
                <div class="toolbar-dropdown cart-dropdown widget-cart hidden-on-mobile" id="cart-dropdown-items-container">
                    <!-- Entry-->
                    <div class="entry" id="cart-dropdown-item">
                        <div class="entry-thumb"><a href="shop-single.html"><img src="img/shop/widget/04.jpg" alt="Product"></a></div>
                        <div class="entry-content">
                            <h4 class="entry-title"><a href="itemLink" class="cart-dropdown-item-link">Item Name</a></h4><span class="entry-meta">1 x $910.00</span>
                        </div>
                        <div class="entry-delete"><i class="icon-x"></i></div>
                    </div>
                    <div class="text-right">
                        <p class="text-gray-dark py-2 mb-0"><span class='text-muted'>Subtotal:</span> &nbsp;$2,548.50</p>
                    </div>
                </div>
            </div>
        }
        else
        {
            <div class="toolbar-item hidden-on-mobile">
                <a href="/Account/Login">
                    <div><i class="icon-user"></i><span class="text-label">Sign In / Up</span></div>
                </a>
            </div>
        }
    </div>
    <!-- Mobile Menu-->
    @{
        Html.RenderPartial("_MobileMenu");
    }

</div>
